<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>{{ entry.link_text}} (Image #{{ entry.img_number }} of {{ entry.total_images }})</title>
<link rel="stylesheet" type="text/css" href="../resources/st.css"></head>
<body><div class="hdr"><a href="../index.html">{{ title }}</a> <span class="hdr2">Image #{{ entry.img_number }} of {{ entry.total_images }}</span></div>
<a href="{{ entry.index_page }}" class="btn">Index Page</a>
<div class="emln"><img src="../resources/sp.gif" width="1" height="10" border="0"></div>
<div class="emln"><img src="../resources/sp.gif" width="1" height="10" border="0"></div>
<div class="emln"><img src="../resources/sp.gif" width="1" height="10" border="0"></div>
<div align="center">
<center>
<div align="center">
<img border="0" src="{{ entry.image_file }}">
</center>
</div>
<div class="pcp">{{ entry.title }}</div>
<div class="emln"><img src="../resources/sp.gif" width="1" height="10" border="0"></div>
<div class="emln"><img src="../resources/sp.gif" width="1" height="10" border="0"></div>
<div class="emln"><img src="../resources/sp.gif" width="1" height="10" border="0"></div>
<a href="{{ entry.index_page }}" class="btn2">Index Page</a>
</body></html>
