<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="resources/st.css"></head>
<body><div class="hdr"><a href="index.html">{{ title }}</a></div>
{% if prev_page %}
<div class="btnd"><a href="{{prev_page}}">Previous Page</a></div>
{% endif %}
{% if next_page %}
<div class="btnd"><a href="{{next_page}}">Next Page</a></div>
{% endif %}
<div class="emln"><img src="res/sp.gif" width="1" height="10" border="0"></div>
{% for entry in entries %}
{% if entry.type == 'image' %}
<a href="{{ entry.link }}" class="pht"><img src="{{ entry.thumb }}" width="{{ entry.thumb_width }}" height="{{ entry.thumb_height }}" border="0"><br>{{ entry.link_text }}</a>
{% else %}
<a href="{{ entry.link }}" class="pht"><h3>{{ entry.link_text }}</h3> Click to view</a>
{% endif %}
{% endfor %}
<div class="emln"><img src="resources/sp.gif" width="1" height="10" border="0"></div>
<div class="emln"><img src="resources/sp.gif" width="1" height="10" border="0"></div>
<div class="emln"><img src="resources/sp.gif" width="1" height="10" border="0"></div>
{% if prev_page %}
<div class="btnd"><a href="{{prev_page}}">Previous Page</a></div>
{% endif %}
{% if next_page %}
<div class="btnd"><a href="{{next_page}}">Next Page</a></div>
{% endif %}
</body></html>
